	<div class="linkWrap">
		<div class="link">
			<ul>
				<li class="upArrow"><img src="images/icon/upArrow.svg" alt=""></li>
				<li class="qq">
					<a href="tencent://message/?uin=853560187">
						<img class="qqImg" src="images/icon/qq.svg" alt="">
					</a>
				</li>
				<li class="weChat"><img src="images/icon/weChat.svg" alt=""></li>
			</ul>				
		</div>
		<img class="weChatTwoCode" src="images/photo/weChatTwoCode.jpg" alt="">
	</div>
	<!--底部-->
	<div class="footer">
		Design by David &nbsp; 鲁ICP备17045674号-1
	</div>
</body>
</html>