<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!--1、强制让页面的宽度与设备的宽度保持1:1-->
	<meta name ="viewport" content ="width=device-width,initial-scale=1,user-scalable=no">
	<!--2、iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览-->
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<!--3、iphone的私有标签，它指定的iphone中safari顶端的状态条的样式-->
	<meta name="apple-mobile-web-app-status-bar-style"
	 content="black"/>
	<!--4、禁止ios设备,识别电话号码-->
	<meta name="format-detection" content="telephone=no" />
	<title><%=title%></title>
	<!--标题栏图标-->
	<link rel="icon" href="images/icon/horse.gif" type="image/gif" size="16*16">
	<link rel="stylesheet/less" href="stylesheets/pc/main.less">
	<script src="less/dist/less.min.js"></script>
	<script src="jquery/dist/jquery.min.js"></script>
	<script src="javascripts/front/main.js"></script>
	<script src="javascripts/front/<%=js%>.js"></script>
</head>
<body>
	<!--顶部欢迎文字-->
	<div class="welcomeText">欢迎光临一泓清泉的博客</div>
	<!--头部导航-->
	<div class="navWrap">
		<img src="images/photo/logo.png" alt="">
		<ul>
		  <li><a href="/">首页</a></li>
		  <li><a href="/technicalFileList">技术文档</a></li>
		  <li><a href="/infoList">前端资讯</a></li>
		  <li><a href="/worksList">我的作品</a></li>
		  <li><a href="/lifeList">生活感悟</a></li>
		  <li><a href="/about">关于我</a></li>
		</ul>
<!-- 		<span id="log" class="login">登录</span>
		<span id="name" class="name"></span> -->
	</div>
	<!--点击登录按钮的弹层-->
	<div id="syLog" class="layer">
		<div class="container">
			<div class="top">
				<span>一泓清泉的博客</span>
				<img id="close" src="images/icon/close.png" alt="">
			</div>
			<div class="center">
				<p>
					<span>用户名:</span>
					<input id="user0" type="text" placeholder="请输入您的用户名">					
				</p>
				<p>
					<span>密&nbsp; &nbsp;码:</span>
					<input id="password0" type="password" placeholder="请输入您的密码">					
				</p>
			</div>
			<div class="bottom">
				<span id="register">注册账号</span>
				<span id="logIn">登&nbsp; &nbsp;录</span>
			</div>
		</div>
	</div>
	<!--点击注册按钮的弹层-->
	<div id="syRegister" class="layer">
		<div class="container">
			<div class="top">
				<span>一泓清泉的博客</span>
				<img id="close2" src="images/icon/close.png" alt="">
			</div>
			<div class="center">
				<p>
					<span>用户名:</span>
					<input id="user" type="text" placeholder="请输入您的用户名">					
				</p>
				<p>
					<span>密&nbsp; &nbsp;码:</span>
					<input id="password" type="password" placeholder="请输入您的密码">					
				</p>
			</div>
			<div class="bottom">
				<span id="register2">注册账号</span>
			</div>
		</div>
	</div>
	<script>
		var userInfo='<%=userInfo%>'; 
		if(userInfo){
			$('#syLog').css('display','none');
			$('#log').css('display','none');
			$('#name').css('display','block');
			$('#name').text(userInfo);
		}
		$(function(){
			var index=<%=index%>
			index=index-1;
			$('.navWrap li').eq(index).attr('id','active');			
		})
	</script>