<% include header.html %> 
<script src="javascripts/front/swipe.js"></script>
	<div class="topWrap">
		<!--作品推荐-->
		<div class="recommendWorks">作品推荐</div>
	  	<div id="wrap">
			<ul id="ul1">
			</ul>
			<div id="shu">
				<ul id="ul2" >
				</ul>
			</div>
			<img id="pre" src="../images/photo/zjt.png">
			<img id="next" src="../images/photo/yjt.png">
	  	</div>
	  	<!--最新资讯-->
	  	<div class="newMessageWrap">
	  		<h3>最新资讯</h3>
	  		<div class="infoListWrap">
	  			<ul>
	  			</ul>
	  		</div>
	  	</div>
	</div>
	<!--主体内容部分-->
	<div class="recomend">
		<p class="bigTitle">
			<span class="fontColor1 wztj">文章推荐</span>
			<span class="bgLine"></span>
		</p>
		<div class="articalList noBgc">
			<!--文章推荐-->
			<div class="articleRecomend">		
			</div>
		</div>
		<div class="rightSection shywz">
			<h3 class="rhesis">受欢迎文章</h3>
			<ul class="popularFiles">
			</ul>
		</div>
	</div>
<% include footer.html %>