<% include header.html %>
	<!--主体内容部分-->
	<div class="recomend">
		<p class="bigTitle">
			<span class="fontColor1 wztj">文章内容</span>
			<span class="bgLine"></span>
		</p>
		<div class="articalList">
			<h3 class="detailTitle"></h3>
			<div class="markInfoNew detailMarkInfo">
				<span class="detailTime">
					<img src="./images/icon/time.svg" alt="">
					<span class="newTime"></span>
				</span>
				<span>作者:<span class="name"></span></span>
				<span class="share">分享 :
				<a title="分享到新浪微博" href="javascript:void((function(s,d,e){try{}catch(e){}var%20f='http://v.t.sina.com.cn/share/share.php?',u=parent.document.location.href,p=['url=',e(u),'&title=',e(d.title),'&appkey=1392530042'].join('');function a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=620,height=450,left=',(s.width-620)/2,',top=',(s.height-450)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})(screen,document,encodeURIComponent));">
				<img src="./images/icon/sina.png" alt=""></a></span>
			</div>
			<div class="content">
				<p class="detailText"></p>
			</div>
		</div>
		<div class="rightSection">
			<h3 class="rhesis">名言警句</h3>
			<img src="./images/photo/rhesis2.jpg" alt="">
		</div>
	</div>
	<script>
		var id='<%=data%>'
	</script>
<% include footer.html %>
