<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="../stylesheets/backstage/pintuer.css">
<link rel="stylesheet" href="../stylesheets/backstage/admin.css">
<link rel="stylesheet" href="../stylesheets/backstage/amazonmenu.css">
<link rel="stylesheet" href="../stylesheets/backstage/htMain.css">
<script src="../../javascripts/backstage/jquery.min.js"></script>
<script src="../../javascripts/backstage/pintuer.js"></script>
<script src="../../javascripts/backstage/amazonmenu.js"></script>
<script src="../../javascripts/backstage/ajaxfileupload.js"></script>
<script src="../../javascripts/backstage/infoDetail.js"></script>
<script>
    var adId='<%=data%>';
</script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>文章内容详情</strong></div>
  <div class="body-content ml100">
    <form class="form-x">  
      <div class="form-group">
        <div class="label">
          <label>文章名称：</label>
        </div>
        <div class="field">
          <span id="adTitle"></span>
        </div>
      </div>       
      <div class="form-group">
        <div class="label">
          <label>文章摘要：</label>
        </div>
        <div class="field">
          <p id="summary"></p>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>文章内容：</label>
        </div>
        <div class="field">
          <p id="adDescription"></p>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>文章列表缩略图：</label>
        </div>
        <div id="imgSamllSrc" class="field">
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>获得赞数：</label>
        </div>
        <div id="zanTotal" class="field">
        </div>
      </div>     
      <div class="clear"></div>
    </form>
  </div>
  <div class="back pointer">返回</div>
</div>
</body>
</html>
<script>
  //接收登录的session信息
    var userInfo='<%=userInfo%>'; 
    if(userInfo){

    }else{
      window.top.location.href='/admin';
    }
</script>