<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="../stylesheets/backstage/pintuer.css">
<link rel="stylesheet" href="../stylesheets/backstage/admin.css">
<link rel="stylesheet" href="../stylesheets/backstage/htMain.css">
<script src="../../javascripts/backstage/jquery.min.js"></script>
<script src="../../javascripts/backstage/pintuer.js"></script>
<script src="../../javascripts/backstage/main.js"></script>
<script src="../../javascripts/backstage/worksList.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong></div>
  <div class="padding border-bottom">  
  <button type="button" class="button border-yellow" onclick="window.location.href='/admin/addWorks'"><span class="icon-plus-square-o"></span> 添加内容</button>
  </div>
  <table id="swipeTable" class="table table-hover text-center">
    <tr>
      <th class="pl20" width="15%">序号</th>
      <th>缩略图</th>
      <th>作品名称</th>
      <th width="10%">创建时间</th>
      <th width="310">操作</th>
    </tr> 
  </table>
</div>
</body>
</html>
<script>
  //接收登录的session信息
    var userInfo='<%=userInfo%>'; 
    if(userInfo){

    }else{
      window.top.location.href='/admin';
    }
</script>