<% include header.html %>
<body>
	<div class="page_box GroupBuy_page">
		<header>
			<div class="left"><i class="return"></i></div>
			<h1 class="state_title">关于我</h1>
			<div class="right"><i class="text"></i></div>
		</header>
        <!--me-->
		<div class="portrait mt5">
			<img src="../../images/mobile/photo/yhqq.jpg" alt="">
			<p class="name">一泓清泉</p>
			<p class="occupation">专注于H5前端开发的小小程序员！</p>
		</div>
		<div class="intro">
			<h2>一、关于一泓清泉</h2>
			<p class="introduce">
				1、一个热衷前端开发，并始终奋斗在一线的小小程序员。<br>
				2、将一如既往的维护该博客的更新迭代。
			</p>
		</div>
	</div>
</body>
</html>