<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name ="viewport" content ="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no"> 
	<!-- `width=device-width` 会导致 iPhone 5 添加到主屏后以 WebApp 全屏模式打开页面时出现黑边 -->
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no" />
	<!--标题栏图标-->
	<link rel="icon" href="images/icon/horse.gif" type="image/gif" size="16*16">
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <link rel="stylesheet" href="../../stylesheets/mobile/main.css">
    <link rel="stylesheet/less" href="../../stylesheets/mobile/main.less">
    <link rel="stylesheet" href="../../stylesheets/mobile/swiper-3.4.2.min.css">
    <script src="../../javascripts/mobile/jquery.min.js"></script>
    <script src="../../javascripts/mobile/flexible.js"></script>
    <script src="../../javascripts/mobile/swiper-3.4.2.jquery.min.js"></script>
    <script src="../../less/dist/less.min.js"></script>
    <script src="../../javascripts/mobile/main.js"></script>
    <script src="../../javascripts/mobile/<%=js%>.js"></script>
	<title><%=title%></title>
</head>