<% include header.html %>
<body>
	<div class="raeresaf A2_height RestaurantMenu_page">
		<header>
			<div class="left"></div>
			<h1 class="state_title">我的博客</h1>
			<div class="right"></div>
		</header>
		<!--swiper-->
		<div class="ItemDetailsPhoto_home mt5 swiper-container">
		  <div class="swiper-wrapper"></div>
		</div>
        <div class="clear"></div> 
        <!--category-->           
        <div class="Self_Mod05 E2_top2">
            <ul>
            <li><a href="/mFront/technicalFileList"><img src="images/mobile/icon/technicalFile.svg"><span>技术文档</span></a></li>
            <li><a href="/mFront/infoList"><img src="images/mobile/icon/news.svg"><span>前端资讯</span></a></li>
            <li><a href="/mFront/worksList"><img src="images/mobile/icon/works.svg"><span>我的作品</span></a></li>
            <li><a href="/mFront/lifeList"><img src="images/mobile/icon/life.svg"><span>生活感悟</span></a></li>
            <li><a href="/mFront/about"><img src="images/mobile/icon/aboutMe.svg"><span>关于我</span></a></li>
            </ul>
		</div>
        <div class="clear"></div>
        <!--article recomend-->
        <div class="ItemDetailsPhoto_home2">
            <div class="Self_Mod06">
                <hr class="floatLeft" id="N0_mr"></hr> 文章推荐 <hr class="floatRight"></hr>
	        </div>  
        </div>         
    </div>
</body>
</html>