<% include header.html %>
<script>
	var id='<%=data%>'
</script>
<body>
	<div class="page_box">
		<header>
			<div class="left"><i class="return"></i></div>
			<h1 class="state_title">生活感悟详情</h1>
			<div class="right"><a href="/mfront"><i class="text">回首页</i></a></div>
		</header>
		<!--技术文档标题-->
		<div class="fileTitle mt5">
			<h1 class="title"></h1>
			<p class="fileInfo">
				<span>作者：<span class="author"></span></span>
				<span class="time">时间：<span class="timeNum"></span></span>				
			</p>
		</div>
		<!--技术文档内容-->
		<p class="content"></p>
	</div>
</body>
</html>