  .ml100{
    margin-left: 100px !important;
  }
  .pl20{padding-left: 20px !important;}
  .pd30{
    padding: 30px !important;
  }
  .mt8{
    margin-top: 8px !important;
  }
  /*首页样式*/
  .bodyBg{
    background-color:#f2f9fd;
  }
  .menuList{
    display:block !important;
    margin-left: 10px
  }
  /*增加前端资讯*/
  #files input{
    width: 200px;
    margin-top: 10px;
  }
  #files input:nth-of-type(1){
    margin-left: 30px;
  }
  .selectedName{
    height: 30px;
    line-height: 30px;
    margin:2px 0 15px 10px;
  }
  .selectedName span{
    color:#00AAEE; 
  }
  .addImgWrap{
    width: 100px;
    height: 100px;
    border: 1px solid #dbdbdb;
    margin: 5px 10px;
    text-align: center;
    color: #ccc;
    line-height: 100px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .addImgWrap img{
    width: 100%;
    height: 100%;
  }
  #addsmallImgFile,#addBIgImgFile,#addDetailImgFile{
    display: none;
  }
  .adddetailImgWrap{
    margin: 5px 10px;
    text-align: center;
    color: #ccc;
    line-height: 100px;
    overflow: hidden;
    box-sizing: border-box;   
  }
  .adddetailImgWrap ul{
    overflow: hidden;
    padding: 0;
  }
  .adddetailImgWrap ul li{
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid #dbdbdb;
    margin-left: 10px;   
  }
  .adddetailImgWrap ul li:nth-of-type(1){
    margin-left: 0;
  }
  .adddetailImgWrap ul li .detailImage{
    width: 100%;
    height: 100%;
  }
  .delete{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
  }
  .classItem{
    margin-left: 15px;
  }
  .classItem:nth-of-type(1){
    margin-left: 0;
  }
  .saveText{
    float: right;
    margin: 5px 65px 5px 0;
    padding: 3px 5px;
    background-color: green;
    color: #fff;
  }
  /*前端资讯详情*/
  #files input{
    width: 200px;
    margin-top: 10px;
  }
  #files input:nth-of-type(1){
    margin-left: 30px;
  }
  .selectedName{
/*    height: 30px;
    line-height: 30px;
    margin:2px 0 15px 10px;*/
  }
  .selectedName span{
    color:#00AAEE; 
  }
  #imgSamllSrc img,#imgBigSrc img{
    margin-left: 20px;
    width: auto;
    height: 80px;
  }
  .showDetailImg{
    margin-left: 136px;
    overflow: hidden;
  }
  .showDetailImg .imgWrap{
    width: auto;
    height: 80px;
    position: relative;
    float: left;
    margin-left: 10px;
  }
  .showDetailImg .imgWrap .detailImg{
    width: auto;
    height: 100%;
  }
  .showDetailImg .imgWrap .delete{
    position: absolute;
    top: 0;
    right: -5px;
    width: 15px;
  }
  .field{
    margin-top: 7px;
  }
  .back{
    width: 100px;
    font-size: 14px;
    margin: 0 20px 10px 100px;
    padding: 5px 0;
    border-radius: 5px;
    text-align: center;
    background-color: #36B134;
    color: #fff;
  }

  /*增加我的作品*/
    .addImgWrap{
    width: 100px;
    height: 100px;
    border: 1px solid #dbdbdb;
    margin: 5px 10px;
    text-align: center;
    color: #ccc;
    line-height: 100px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .addImgWrap img{
    width: 100%;
    height: 100%;
  }
    #addSwipeFile{
    display: none;
  }
  /*前端资讯列表*/
  .fsColor{
    color: #22CC77;
  }
  .addField{
      float:right;
      display:none;    
  }
  /*登录*/
  .h150{
    height: 150px !important;
  }
  #registerNew{
    float:right;
    margin-top: -25px;
    font-size: 16px;
    color: #74CB15;
    cursor: pointer;
  }
.registerPanel{
  padding: 0 30px;
}
/**/
.classMt6{
  margin-top: -6px;
}